<div id="loginBody">
  <div id="loginHeader">LOGIN</div>
  <form id="loginForm">  
    <div ><input id='loginEmailBorder' type="email" placeholder="enter email" ng-model="email"></div>
    <div ><input id='loginPasswordBorder' type="password" placeholder="enter password" ng-model="password"></div>
    
    <div ng-show="hasError">{{errorMessage}}</div>
  </form>
  <a id="authLink" ng-href="/#/signup">Signup</a>
  <div><button id='loginSubmit' ng-click="submitLogin(email, password)">SUBMIT</button></div>
</div>