<div id='loginBody'>
  <div id='loginHeader'>LOGIN</div>
  <form ng-submit='submitLogin(email, password)'>  
    <div ><input id='loginEmailBorder' class='focus' type='email' placeholder='email' ng-model='email'></div>
    <div ><input id='loginPasswordBorder' class='focus' type='password' placeholder='password' ng-model='password'></div>
    <input type="submit" style="position: absolute; left: -9999px; width: 1px; height: 1px;"/>
    <div id='errMessage' ng-show='hasError'>{{errorMessage}}</div>
  </form>
  <div id="bottomLogin">
<!--     <div id="signUpLink" ><button id='signUpSubmit' ng-click='submitPressed()'>SIGN UP</button></div> -->

      <a class='authLink' id='signUpLink'  ng-href='/#/signup'>SIGN UP</a>
    <div id="loginSubDiv" ><button id='loginSubmit' ng-click='submitLogin(email, password)'>SUBMIT</button></div>
  </div>
</div>
