<div>
  <h1>EVENT EDITOR<h2>
  <form>
    <input id="addressInput" type="textbox" placeholder="enter address"></input>
    <input type="button" value="Find" ng-click="getAddresses()">
  </form>

  <ui-gmap-google-map center='mapOptions.center' zoom='mapOptions.zoom'>

    <ui-gmap-drawing-manager
        options='drawingManagerOptions'
        control='drawingManagerControl'
        static='mapOptions.static'>
    </ui-gmap-drawing-manager>

    <ui-gmap-polygon
      ng-repeat="poly in polygons"
      events='mapOptions.events'
      path='poly.region_attr.coordinates'
      fill='poly.region_attr.fill'
      stroke='poly.region_attr.stroke'
      clickable='true'
      draggable='true'
      editable='true'
      visible='true'>
    </ui-gmap-polygon>

  </ui-gmap-google-map>

  <button ng-click="savePolygons()">SAVE</button>
  <button ng-click="getPolygons()">RETRIEVE</button>
  <div ng-model="polygons">{{ polygons }}</div>

</div>
