<div>
    <div ng-navbar id='nav'></div>
  <h1>Outside Lands 2019</h1>
  <!--<form> -->
    <!--<input id="addressInput" type="textbox" placeholder="enter address"></input>-->
    <!--<input type="button" value="Find" ng-click="getAddresses()">-->
  <!--</form>-->

  <!--<script type="text/ng-template" id="searchBox.template.html">-->
    <!--<input type="text"  placeholder="Search Address"/>-->
  <!--</script>-->
  <button ng-click="sendEventDataToServerAndRefresh(currEventData)">SAVE</button>
  <ng-region-editor></ng-region-editor>

  <ui-gmap-google-map center='basicOptions.center' 
  zoom='basicOptions.zoom'
  options='extraOptions'>

    <!--<ui-gmap-search-box-->
      <!--template='searchBoxOptions.template'-->
      <!--position='searchBoxOptions.position'-->
      <!--events='searchBoxEvents'-->
      <!-->-->
    <!--</ui-gmap-search-box>-->

    <ui-gmap-drawing-manager
        options='drawingManagerOptions'
        control='drawingManagerControl'
        static='mapOptions.static'>
    </ui-gmap-drawing-manager>

    <ui-gmap-polygon
      ng-repeat="poly in currEventData.regions"
      events='polygonEvents'
      path='poly.region_attr.coordinates'
      fill='poly.region_attr.fill'
      stroke='poly.region_attr.stroke'
      clickable='true'
      draggable='true'
      editable='true'
      visible='true'>
    </ui-gmap-polygon>

  </ui-gmap-google-map>

  <div ng-model="currEventData">{{ currEventData }}</div>
</div>
