.signupHtml {
  background-color: #637485;/* #4B5763;*/
  height: 100%;
}
#signupBody {
  margin-top: 13%;
  padding: 15px;
  text-align: center;
}
#signupHeader {
  color: white;
  border-bottom: 1px solid white;
  width: 21%;
  font-size: 25px;
  margin: auto auto 20px auto;
  padding-bottom: 10px;
}

input[type="text"], input[type="email"], input[type="password"]{
  outline: none;
  background-color: #637485;
  color: white;
  height: 15px;
  width: 200px;
  border: 1px solid white;
  padding: 15px;
  margin: 10px auto 10px auto;
  font-size: 15px;
  text-align: center;
}

input[type="text"]:focus, input[type="text"].focus.hover.active,
input[type="email"]:focus, input[type="password"]:focus,
input[type="email"].focus.hover.active, input[type="password"].focus.hover.active {
  background-color: white;
  color: #637485;
}

#loginSubmit, #signUpSubmit {
  font-size: 15px;
  width: 100px;
  height: 30px !important;
  border: 1px solid white;
  padding: 8px;
  margin: 5px auto 5px auto;
  text-align: center;
  min-width: 50px;
  line-height:15px;
  outline: none;
  float:right;
}



#signUpSubmit {
  background-color: #637485;
  color: white;
}
#signUpSubmit:hover {
  background-color: white;
  color:#637485;
}
#loginSubmit {
  background-color: #637485;
  color: white;
}
#loginSubmit:hover {
  background-color: white;
  color: #637485;
}
#bottomSignup {
  text-align: center;
  width: 21%;
  margin: auto;
  height: 30px;
  padding-top: 20px;
}
#signupSubDiv {
  float: right;
}
#loginLink {
  color: #26323D;
  padding-top: 10px;
  float: left;
}
#loginLink:hover {
  color: white;
}

#errMessage {
  font-size: 12px;
  color: white;
}

::-webkit-input-placeholder {
   color: white;
}

:-moz-placeholder { /* Firefox 18- */
   color: white;
}

::-moz-placeholder {  /* Firefox 19+ */
   color: white;  
}

:-ms-input-placeholder {  
   color: white;  
}



