html {
  background-color: #637485;
}

body {
  margin: 0px;
}

.editBtn {
  float: right;
  display: inline-block;
}

#boundryName {
  color: #ffffff;
  font-size: 16px;
}
.evNameInList {
  font-weight: bold;
}

#evDash {
  padding: 20px 0 20px 0;
  margin-left: 70px;
  font-size: 35px;
  color: #ffffff;
  font-weight: 700;
}
#yourEvTitle {
  color: #637485;

  padding: 10px 0 10px 10px;
  margin: 0 15px;
  /* padding: 5px; */
  font-weight: 700;
  border-bottom: 1px solid #637485;
  font-size: 25px;
}

#evSpan {
  float: left;
  font-size: 10px;
  list-style:none;
  padding-left: 0px;
  width: 100%;
  padding: 0 0 10px 0;
  border-bottom: 1px #637485 solid;

}

#yourEvents {
  padding: 10px;
  height: 500px;
  background-color: #FFFFFF; /*#E8E8E8;*/
  border: 1px white solid;
  margin: 20px 70px 0 70px;
/*  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;   */
}

#eventsAndMap {
  margin: 30px;
}

#eventList {
  width: 30%;
  height: 100%;
  border-right: 1px solid black;
}
#noEventMessage {
  float: left;
  font-size: 20px;
  color: black;
  width: 30%;
  height: 300px;
}

#map {
  display: inline-block;
  width: 70%;
  /*float: right;*/
}

.angular-google-map-container {
height: 800px;
}
#overlay {
  margin: auto;
  position: absolute;
  top: 50px;
  height: 100%; 
  left: 0px;
  /*bottom: 50px; */
  /*right: 50px;*/
  opacity: 0.88;
  width: 185px;
  background-color: #4e5b69;
  color: #ffffff;
  font-size: 15px;
  z-index: 5;
  padding-left: 30px;
}

#region-editor {
  /*padding-left: 15px;*/
  font-size: 13px;
}
#regName,#actName, #actData {
   -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;   
  outline: none;
  background-color:white;
  color: #637485;
  height: 5px;
  width: 120px;
  border: 1px solid gray;
  /*padding: 15px;*/
  /*margin: 10px auto 10px 20px;*/
  font-size: 15px;
  text-align: center;
}

#regName:focus,#actName:focus, #actData:focus, #regName.focus.hover.active,#actName.focus.hover.active, #actData.focus.hover.active {
  background-color: white;
  color: #637485;
}

/*.angular-google-map-container {*/
.dashboardMap {
  /*display: inline-block;*/
  background-color: gray;
  float: left;
  width: 80%;
  height: 350px;
  margin-left: 100px;
}

.angular-google-map {
    top: 80px;
}

#eventName {
  float: left;
  color: #698A96;
  padding: 0px 13.6px;
  margin: 5px;
  font-family: Montserrat, sans-serif;
  /*border-left: 2px #479DC8 solid;*/
  font-size: 17px;
  /*padding: 10px;*/
  /*margin-bottom: 1em;*/
  margin-right: 25px;
  margin-left: 0px;
  /*padding: 20px 0;*/
  text-align: left;
  width: 100px;
}

input {
  margin-right: 10px;
}

#vertices {
  width: 100%;
}


 #dataView {
  height: 500px;
  width: 500px;
  float: left;
  padding-bottom: 50px;
}
#panel {
  z-index: 5;
  background-color: #fff;
  padding: 5px;
  border: 1px solid #999;
}
#slider, #slider-range {
  width: 500px;
}

*{
  /*font-family:'Trebuchet MS';*/
  /*font-family: 'Montserrat', sans-serif;*/
  font-family: 'Raleway', sans-serif;
}

div[ng-navbar]{
  background-color: #4E5B69;
  padding: 20px 20px;
  font-size: 12px;
}
#navAna, #navLogout, a {
    text-decoration: none;
    color: #d8d8d8;
    margin-left: 25px;
    font-size: 16px;
}

#authLink {
  color: #000000;
  text-decoration: none;
}

#createEvDiv {
  padding-bottom: 10px;
}

#saveButton,#createButton {
   -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;   
  background-color: #637485;
  color: white;
  font-size: 13px;
  width: 80px;
  height: 26px !important;
  border: 1px solid white;
  margin: 25px auto 5px 0px;
  text-align: center;
  min-width: 50px;
  line-height:13px;
  outline: none;
  float:left;
}

#createButton {
  background-color: #698A96;
   -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;   
  font-size: 13px;
  width: 100px;
  height: 30px !important;
  border: 1px solid white;
  margin: 0px auto 5px 0px;
  text-align: center;
  min-width: 50px;
  line-height:15px;
  outline: none;
  float:left;
}
#createButton:hover {
  background-color: #89B0BE;
}

#saveButton:hover {
  background-color: white;
  color:#4E5B69;
}
#errMessage {
  font-size: 12px;
  color: white;
}

#btn {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;   
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-transition-property: background;
  -moz-transition-property: background;
  -o-transition-property: background;
  transition-property: background;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  background-color: #545E66;
  color: #ffffff;
  text-shadow: none;
  border: none;
  height: 20px;
  line-height: 20px;
  padding: 0px 13.6px;
  font-weight: 300;
  font-size: 13px;
  /*border: 1px #969595 solid;*/
  /*font-family: "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;*/
  margin: 5px;
  text-decoration: none;
  text-align: center;
  display: inline-block;     
}

/* The next blocks of code are for user actions on the buttons. */
#btn:hover {
  text-decoration: none;
  color: #ffffff;
  background-color: #969696;
}

.delete-btn {
  float: right;
  margin: 0;
  padding: 0;
  margin-right: 15px;

}
.nav-btn {
  margin-right: 20px;
}