<div id='region-editor'>
  <div>Region Name <input type="text" id="regName" ng-model="currEventData.regions[currRegionIndex].region_name"/></div><br>
  <div>Action Name <input type="text" id="actName" ng-model="currEventData.regions[currRegionIndex].actions[0].name"/></div><br>
  <div>Action Data <input type="text" id="actData" ng-model="currEventData.regions[currRegionIndex].actions[0].action_data"/></div>
</div>

<div class='delete-btn'>
  <input id="saveButton" class="editBtn" type="button" value="DELETE" ng-click="deleteRegion(currEventData.id, currRegionIndex, currRegionId)">
</div>
